<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Orders List</h3>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered table-hover table-condensed">
          <thead >
            <th>Order Id</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Due Date</th>
            <!-- <th>Item Type</th> -->
            <!-- <th>Rate Of Intrest</th> -->
            <!-- <th>Comments</th> -->
            <th>Status</th>
            <th>Name</th>
            <!-- <th>Quality</th> -->
            <th>Weight</th> 
            <th>More Detail</th> 
            <th>New Loan</th>
          </thead>
          <tbody > 
          <tr *ngFor="let order of orderList" [class.bg-success]="order.status=='Closed'"
          [class.text-success]="order.status=='Closed'" >  
              <td> {{order.orderId}}</td>
              <td> {{order.customerName}}</td>
              <td> {{order.orderAmount | currency:'INR':'symbol':'4.2-2' }}</td>
              <td> {{order.dueDate | date:"dd/MM/yy" }}</td>
              <!-- <td> {{loan.itemType| uppercase}}</td> -->
              <!-- <td> {{loan.rateOfInterest}} %</td> -->
              <!-- <td> {{loan.comments}}</td> -->
              <td > {{order.status | lowercase }}</td>
              <td> {{order.itemName}}</td>
              <!-- <td> {{loan.itemQuality }}%</td> -->
              <td> {{order.weight}}g</td>
              <td style="cursor: pointer;">
                 <div class="text-primary" (click)="getOrderDetails(order.orderId)">Details</div></td>
              <td style="cursor: pointer;"> 
                <div class="text-primary" (click)=createOrderForCustomer(order.customerId)>
                 <span class="glyphicon glyphicon-plus"></span> Create Order </div></td>
          </tr>
          </tbody>
          
       </table>
          
  </div>
  </div>




