

 <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Loan Details</h3>
        </div>
        <div class="panel-body">           
            <div  *ngIf="loanDetail?.status=='OPEN'"> <button class="btn btn-primary" 
                (click)="editLoanDetail(loanDetail?.loanId)">Edit Loan Details </button></div>
    <div class="pannel panel-info">
        <div class="panel-heading">
         
            <span   style="color:rgb(27, 27, 83)">Name  : </span><strong>{{loanDetail?.customerName}}</strong> 
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span  style="color:rgb(27, 27, 83)">City :</span><strong> {{loanDetail?.customerCity}}</strong> 
         
        </div>

        <div class="panel-body">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <tbody > 
             <tr>
                <td>Loan Id</td>
                <td class="text-primary"> {{loanDetail?.loanId}}</td>
              </tr> 
              <tr>
                <td>Khata Number</td>
                <td class="text-primary"> {{loanDetail?.khataNumber}}</td>
              </tr> 
             
              <tr>
                  <td>Amount</td>
                  <td class="text-primary"> {{loanDetail?.loanAmount | currency:'INR':'symbol':'4.2-2' }}</td>
              </tr>
               
              <tr>
                  <td>Due Date</td>
                  <td class="text-primary"> {{loanDetail?.dueDate | date:"dd/MM/yy" }}</td>
              </tr>
             
            <tr>  
                <td>Rate of Interest</td>
                <td class="text-primary"> {{loanDetail?.rateOfInterest}}%</td>
            </tr>

           
            <tr>  
                <td>Loan Taken on Date in ("DD/MM/YY")</td>
                <td class="text-primary"> {{loanDetail?.createdDate | date:"dd/MM/yy" }}</td>
            </tr>
            <tr>  
                <td>Comment</td>
                <td class="text-primary"> {{loanDetail?.comments| lowercase}}</td>
            </tr>
            <tr>  
            <tr [class.bg-success]="loanDetail?.status=='CLOSED'">  
                    <td>Loan Status</td>
                    <td class="text-primary"> {{loanDetail?.status }}</td>
                </tr>




               



            <tr *ngIf="loanDetail?.status=='OPEN'">  
                <td colspan="2" class="text-center"><button class="btn btn-primary" 
                    data-target="#paymentModal"  data-toggle="modal" >Add Payment/Loan </button> </td>
             
              </tr>

            </tbody>
            </table>
            <div class="text-info" *ngIf="!loanDetail?.loanId"> This customer doesn't have any loan  </div>
        </div>

        <div class="pannel panel-info" >
            <div class="panel-heading">
               Loan Item Details
              </div>
        
            <div class="panel-body"> 
                <table class="table  table-bordered table-hover table-condensed">
                    <thead  class="table-bordered">
                      <th>Item Name</th>
                      <th>Item Type</th>
                      <th>Weight (grams)</th>
                      <th>Item Quality(Tanch)</th>
                      <th>Count</th>
                      <th>Selling Price</th>
                      <th>Comments</th>
                     
                      
                     
                    </thead>
                    <tbody > 
                    <tr *ngFor="let item of loanDetail?.itemsList"  >  
                        <td> {{item.itemName}}</td>
                        <td> {{item.itemType }}</td>
                        <td> {{item.weight || "NA"}}</td>
                        <td> {{item.itemQuality || "NA"}}</td>
                        <td> {{item.count || "1"}}</td>
                        <td> {{item.itemPrice || "NA"  | currency:'INR':'symbol':'4.2-2' }}</td>
                        <td> {{item.itemComments }}</td>
                        
                    </tr> 
                    
                    </tbody>
                </table>
            </div> 
        </div>



       






        <div class="pannel panel-info" *ngIf="checkPaymentDetailsAvailable()">
            <div class="panel-heading">
               Loan Payment Details
              </div>

            <div class="panel-body"> 
                <table class="table  table-bordered table-hover table-condensed">
                    <thead  class="table-bordered">
                      <th>Payment Id</th>
                      <th>Payment Amount</th>
                      <th>Balance Amount</th>
                      <th>Interest Amount</th>
                      <th>Total Pending Interest</th>
                      <th>Discount</th>
                      <th>Payment Date</th>
                     
                      <th>Comment</th>
                      <th>Delete</th>
                     
                    </thead>
                    <tbody > 
                    <tr *ngFor="let payment of loanPaymentDetailsList" 
                    [class.text-success]="payment.paymentType=='PARTIAL_PAYMENT'"
                    [class.text-danger]="payment.paymentType=='ADDITIONAL_LOAN'">  
                        <td> {{payment.loanPaymentId}}</td>
                        <td> {{payment.partialPaymentAmount | currency:'INR':'symbol':'4.2-2'}}</td>
                        <td> {{payment.balanceAmount | currency:'INR':'symbol':'4.2-2' }}</td>
                        <td> {{payment.interestAmount | currency:'INR':'symbol':'4.2-2' }}</td>
                        <td> {{payment.totalInterestAmount | currency:'INR':'symbol':'4.2-2' }}</td>
                        <td> {{payment.discountAmnt || '0'}}</td>
                        <td> {{payment.createdOn|  date:"dd/MM/yy"}}</td>
                       
                        <td> {{payment.comment }}</td>
                        <td style="cursor: pointer;"> <div class="text-primary"  data-target="#confirm-delete"  data-toggle="modal">Delete</div> </td>
                        
                       
                    </tr> 
                    
                    </tbody>
                </table>
            </div> 
        </div>
        <div *ngIf="loanDetail?.status=='OPEN'">
             <table class="table table-hover table-condensed">
              <tbody > 
                <tr>  
                  <td colspan="5" class="text-center"><button class="btn btn-primary" 
                    (click)="calculateInterest(loanDetail)">Calculate Interest </button> </td>
               
                </tr>
             </tbody>
             </table>
        </div>

        <div class="pannel panel-success" *ngIf="simpleInterest" >
            <div class="panel-heading">
               Calculated Interest Details

              </div>

            <div class="panel-body"> 
            <table class="table table-striped table-bordered table-hover">
                <tbody > 
                    
                    <tr  *ngIf="simpleInterest">  
                        <td>Current Loan Amount</td>
                        <td class="text-success">{{(currLoanAmount) | currency:'INR':'symbol':'4.2-2' }}</td>
                    </tr>
                    <tr  *ngIf="simpleInterest">  
                        <td> Interest Amount for this period</td>
                        <td class="text-success">{{(simpleInterest) | currency:'INR':'symbol':'4.2-2' }} 
                            </td>
                    </tr>
                    <tr  *ngIf="simpleInterest">  
                        <td> Total Pending Interest Amount</td>
                        <td class="text-success">{{(totalInterestAmnt) | currency:'INR':'symbol':'4.2-2' }} 
                            </td>
                    </tr>
                    <tr  *ngIf="simpleInterest">  
                            <td> Total Time </td>
                            <td class="text-success"> {{noOfMonths}} months and {{noOfDays}} days </td>
                    </tr>
                    <tr  *ngIf="simpleInterest">  
                        <td> Total Amount with Interest  </td>
                        <td class="text-success"> <strong>{{(totalAmount)
                            | currency:'INR':'symbol' }}</strong></td>
                    </tr>
                </tbody>
              </table> 
            </div> 
        </div>
       
         
        
    </div>

 
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete Payment 
                </div>
                <div class="modal-body">
                    Please confirm if you want to delete this payment.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="-1" id="paymentModal"
        data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Add Payment</h4>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="form-group" >
                                <label for="partialPaymentAmount" class="control-label">Payment Amount</label>
                                <input  id="partialPaymentAmount" required  type="number" class="form-control" 
                                        name="partialPaymentAmount" [(ngModel)]="loanPayment.partialPaymentAmount"
                                       #loanAmount="ngModel">
                                       
                    </div>
                    <div class="form-group" >
                        <label for="paymentType" class="control-label">Additional Loan/Partial Payment</label>
                        <select [(ngModel)]="loanPayment.paymentType" name="paymentType" id="paymentType" class="form-control" >
                          <option value="" disabled selected>select a category</option>
                          <option *ngFor="let paymentType of paymentTypeList" [value]="paymentType">{{paymentType}}</option>
                        </select>
                </div>
                    <div class="form-group"  *ngIf="loanPayment.paymentType == 'Payment'">
                        <label for="partialPaymentAmount" class="control-label">Discount</label>
                        <input  id="discountAmnt" required maxlength="5"  type="number" class="form-control" 
                                name="discountAmnt" [(ngModel)]="loanPayment.discountAmnt"
                               >
                               
                    </div>
                   
                     <div class="form-group">
                            <label for="createdOn" class="control-label">Payment Date</label>
                            <span class="glyphicon glyphicon-calendar"></span>
                            <div class="form-control" >
                                <app-date-picker [(ngModel)]="loanPayment.createdOn"  name="createdOn"> </app-date-picker>
                            </div>
                          </div>
                    
                    <div class="form-group">
                            <label for="comments">Comments</label>
                            <input id="comments" type="text" class="form-control"
                                   name="comments" [(ngModel)]="loanPayment.comment">
                     </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="submitClicked"  (click)="savePartialPayment(loanPayment)">Save</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Close</button>
            </div>
            <div class="text-success" style="align-content: center"  *ngIf="success_response"> 
                <h4>{{success_response}}</h4> </div>
               
            <div class="text-error" style="align-content: center"  *ngIf="errorResponseOnPayment">
                 <h4>{{errorResponseOnPayment}}</h4></div>
        </div>
    </div>
    </div>
</div>