<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><strong style="color:rgb(154, 234, 240)">{{customerName}}'s</strong> All Loans</h3>
    </div>
    <div class="panel-body" *ngIf="loanList">
        <table class="table table-striped table-bordered table-hover table-condensed">
        <thead  class="table table-bordered">
              <th>Loan Id</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Due Date</th>
              <th>Rate Of Intrest</th>
              <th>Comments</th>
              <th>Status</th>
              <th>More Detail</th> 
              <th>New Loan</th>
            </thead>
            <tbody > 
            <tr *ngFor="let loan of loanList" [class.bg-success]="loan.status=='CLOSED'"
            [class.text-success]="loan.status=='CLOSED'">  
                <td> {{loan.loanId}}</td>
                <td> {{loan.customerName}}</td>
                <td> {{loan.loanAmount | currency:'INR':'symbol':'4.2-2' }}</td>
                <td> {{loan.dueDate | date:"dd/MM/yy" }}</td>

                <td> {{loan.rateOfInterest}} %</td>
                <td> {{loan.comments}}</td>
                <td> {{loan.status | uppercase }}</td>

                <td style="cursor: pointer;"> 
                    <div class="text-primary" (click)="onSelect(loan.loanId)">More Details</div></td>
                    <td style="cursor: pointer;"> 
                      <div class="text-primary" (click)=createCustomerLoan(loan.customerId,loan.customerName)>
                       <span class="glyphicon glyphicon-plus"></span> Create Loan </div>
                   </td>
            </tr>
            
            </tbody>
            
            </table>
           
    </div>
    
    <div class="panel-body" *ngIf="!loanList">
            <h5 class="text-info"> {{customerName}} doesn't have any loan yet. Please click on below button to place new loan.</h5>
            
            
                  <button class="btn btn-info " (click)=createCustomerLoan(customerId,customerName) type="button">Create Loan</button> 
        </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> <strong style="color:rgb(154, 234, 240)">{{customerName}}'s</strong> All Orders </h3>
    </div>
    <div class="panel-body" *ngIf="customerOrderList">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead >
              <th>Order Id</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Due Date</th>
              <!-- <th>Item Type</th> -->
              <!-- <th>Rate Of Intrest</th> -->
              <th>Comments</th>
              <th>Status</th>
              <!-- <th>Name</th> -->
              <!-- <th>Quality</th> -->
             <!--  <th>Weight</th>  -->
              <th>More Detail</th> 
              <th>New Order</th>
              
            </thead>
            <tbody > 
            <tr *ngFor="let order of customerOrderList" [class.bg-success]="order.status=='Closed'"
            [class.text-success]="order.status=='Closed'" >  
                <td> {{order.orderId}}</td>
                <td> {{order.customerName}}</td>
                <td> {{order.orderAmount | currency:'INR':'symbol':'4.2-2' }}</td>
                <td> {{order.dueDate | date:"dd/MM/yy" }}</td>
                <!-- <td> {{loan.itemType| uppercase}}</td> -->
                <!-- <td> {{loan.rateOfInterest}} %</td> -->
                <td> {{order.comments}}</td>
                <td > {{order.status | uppercase }}</td>
                <!-- <td> {{order.itemName}}</td> -->
                <!-- <td> {{loan.itemQuality }}%</td> -->
                <!-- <td> {{order.weight}}g</td> -->
                <td style="cursor: pointer;">
                   <div class="text-primary" (click)="getOrderDetails(order.orderId)">Details</div>
                </td>
                <td style="cursor: pointer;"> 
                  <div class="text-primary" (click)=createOrderForCustomer(order.customerId,order.customerName)>
                   <span class="glyphicon glyphicon-plus"></span> Create Order </div>
               </td>
            </tr>
            </tbody>
            
         </table>
           
    </div>
    <div class="panel-body" *ngIf="!customerOrderList">
        <h5 class="text-info"> {{customerName}} doesn't have any order yet. Please click on below button to place new Order.</h5>
        
            
              <button class="btn btn-info " (click)=createOrderForCustomer(customerId,customerName) type="button">Create Order</button> 
    </div>
</div>
  
  
  
  
  
  
  
  
  
  