<div class="panel panel-primary">
    <div style="float: right;">
        <form #searchEmployeeForm="ngForm" (ngSubmit)="searchLoans(searchString)">
          <table class="table-condensed">
            <tr>
              <td>
                <div style="color:aquamarine" *ngIf="filterInfo">Showing result with filter : {{searchString}} </div>
              </td>
              <td style="cursor: pointer;">
                <div style="color:rgb(222, 224, 236)" *ngIf="filterInfo" (click)=clearFilter()>
                  <span id="searchclear" class="glyphicon glyphicon-remove-circle"> </span>Clear Filter </div>
              </td>
    
              <td>
                <div class="text-danger" class="bg-danger" *ngIf="emptySearchString"> {{emptySearchString}} </div>
              </td>
              <td class="mx-auto">
                <div>
                  <input type="text" name="searchString" required placeholder="Search Loans" [(ngModel)]="searchString">
                </div>
    
              </td>
    
              <td>
                <button class="btn btn-info btn-sm" type="submit">Search</button>
              </td>
    
            </tr>
          </table>
        </form>
      </div>
  <div class="panel-heading">
    <h3 class="panel-title">Loan List : <strong style="color:aquamarine"> {{totalRecords}} records found</strong></h3>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered table-hover table-condensed">
          <thead >
            <th>Khata Number</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Due Date</th>
            <!-- <th>Item Type</th> -->
            <!-- <th>Rate Of Intrest</th> -->
            <!-- <th>Comments</th> -->
            <th>Status</th>
           <!--  <th>Name</th> -->
            <!-- <th>Quality</th> -->
          <!--   <th>Weight</th>  -->
            <th>More Detail</th> 
            <th>New Loan</th>
          </thead>
          <tbody > 
          <tr *ngFor="let loan of loanList" [class.bg-success]="loan.status=='CLOSED'" [class.text-success]="loan.status=='CLOSED'"  >  
              <td> {{loan.khataNumber}}</td>
              <td>  <a routerLink="/customerDetails/{{loan.customerId}}" routerLinkActive="active"> {{loan.customerName}}</a></td>
              <td> {{loan.loanAmount | currency:'INR':'symbol':'4.2-2' }}</td>
              <td> {{loan.dueDate | date:"dd/MM/yy" }}</td>
              <!-- <td> {{loan.itemType| uppercase}}</td> -->
              <!-- <td> {{loan.rateOfInterest}} %</td> -->
              <!-- <td> {{loan.comments}}</td> -->
              <td > {{loan.status | lowercase }}</td>
             <!--  <td> {{loan.itemName}}</td> -->
              <!-- <td> {{loan.itemQuality }}%</td> -->
             <!--  <td> {{loan.weight}}g</td> -->
              <td style="cursor: pointer;"> <div class="text-primary" (click)="onSelect(loan.loanId)">Details</div></td>
              <td style="cursor: pointer;"> <div class="text-primary" (click)=createCustomerLoan(loan.customerId,loan.customerName)>
                 <span class="glyphicon glyphicon-plus"></span> Create Loan </div></td>
          </tr>
          </tbody>
          
       </table>
        <!-- pager -->
    <div>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>  
    </div>
          
  </div>
  </div>




