<div class="row">
    <div >  &nbsp;  Total income from orders this year :  
      <strong>{{totalIncomeFromOrders| currency:'INR':'symbol':'4.2-2'  }}</strong>  
    </div>
  <div >
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  
</div>
