<form #employeeForm="ngForm" (ngSubmit)="saveOrder(order)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Enter Order Details for :
                       <strong style="color:rgb(0, 204, 255)">{{order.customerName}}</strong></h3>
    </div>
    <div class="panel-body">

      
        <div class="panel panel-default col-md-12" id="itemDetailsId" *ngFor="let itemObj of itemContainers; let i=index">



          <div class="panel-body">
            <div class="col-md-12">
              <div> Add details for Item {{i+1}}</div>
              <br>
              <div class="form-group col-md-3"   >
                <label for="itemName{{i}}" class="control-label">Item Name</label>
                <input id="itemName{{i}}" required type="text" class="form-control"
                       name="itemName{{i}}" [(ngModel)]="itemObj.itemName" #itemNameCntrl="ngModel">
                       <span class="help-block" *ngIf="itemNameCntrl.touched && itemNameCntrl.invalid">
                         Please enter itemName
                       </span>
              </div>
    
              <div class="form-group col-md-3" >
                <label for="itemType{{i}}"  class="control-label">Select Item Type</label>
                <select [(ngModel)]="itemObj.itemType" name="itemType{{i}}" id="itemType{{i}}" class="form-control" >
                    <option value="" disabled selected>select a category</option>
                    <option *ngFor="let item of availableItemType" [value]="item">{{item}}</option>
                  </select>
            </div>
    
            <div class="form-group col-md-3" >
              <label for="weight{{i}}" class="control-label">Weight</label>
              <input id="weight{{i}}" required type="text" class="form-control"
                     name="weight" [(ngModel)]="itemObj.weight" #weightCntrl="ngModel">
                     <span class="help-block" *ngIf="weightCntrl.touched && weightCntrl.invalid">
                      Please enter weight
                    </span>
                     
            </div>
    
           <!--  <div class="form-group col-md-3" >
              <label for="itemQuality{{i}}" class="control-label">Iteam Quality (Tanch)%</label>
              <select [(ngModel)]="itemObj.itemQuality" name="itemQuality{{i}}" id="itemQuality{{i}}" class="form-control" >
                <option value="" disabled selected>select a category</option>
                <option *ngFor="let itemQuality of itemQualityList" [value]="itemQuality">{{itemQuality}}</option>
              </select>
            </div> -->
    
           
    
            <div class="form-group col-md-3" >
              <label for="makingCharge{{i}}" class="control-label">Making Charge</label>
              <input  id="makingCharge{{i}}"  type="text" class="form-control" 
                      name="makingCharge{{i}}" [(ngModel)]="itemObj.makingCharge">
                     
            </div>

            </div>

            <div class="col-md-12">

              <div class="form-group col-md-3" >
                <label for="marketRate" class="control-label">Market Rate</label>
                <input  id="marketRate{{i}}" required  type="text" class="form-control" 
                        name="marketRate{{i}}" [(ngModel)]="itemObj.marketRate"  #marketRateCntrl="ngModel">
                        <span class="help-block" *ngIf="marketRateCntrl.invalid && marketRateCntrl.touched">
                          Please enter Market Rate 
                     </span>
                      
        </div>
      
      
              <div class="form-group col-md-3" >
                <label for="discount{{i}}" class="control-label">Discount </label>
                <input  id="discount{{i}}"  type="text" class="form-control" 
                        name="discount{{i}}" [(ngModel)]="itemObj.discount" (blur)="calculateItemOrderAmount(itemObj, i)"
                       #discount="ngModel">
                       
              </div>
      
             
             
      
         <div class="form-group col-md-3">
          <label for="orderAmount{{i}}" class="control-label"> Order Amount  
              &nbsp;</label>
          <input  id="orderAmount{{i}}" required  type="text" class="form-control" 
                  name="orderAmount{{i}}" [(ngModel)]="itemObj.itemPrice">
                  <span *ngIf="itemObj.calculationLogicString" style="color:darkorange">
                    <small><em>({{itemObj.calculationLogicString}})</em></small></span>
        </div>
      
        <div class="form-group col-md-3">
          <label for="comments">Item Comments</label>
          <input id="comments" type="text" class="form-control"
                 name="comments" [(ngModel)]="itemObj.itemComments">
        </div>
      

            </div>

         
          

       
      </div>


        </div>

        <div form-group col-md-6>

          <div form-group col-md-6>
            <div  class="text-primary col-md-2" style="cursor: pointer;" (click)="addMoreItems()">Add More Items</div>
            <!--  <button class="btn btn-info" (click)="addMoreItems()">Add More Items</button> -->
            &nbsp;
            <div class="text-primary col-md-2" style="cursor: pointer;" (click)="deleteItems()">Delete More Items</div>
            <!--   <button  class="btn btn-info" (click)="deleteItems()">Delete More Items</button> -->
          </div>
         
        </div>
       <br>

       <!-- 

        <div class="form-group" [class.has-error]="itemName.touched && itemName.invalid">
            <label for="itemName" class="control-label">Item Name</label>
            <input id="itemName" required type="text" class="form-control"
                   name="itemName" [(ngModel)]="order.itemName" #itemName="ngModel">
                   <span class="help-block" *ngIf="itemName.touched && itemName.invalid">
                     Please enter itemName
                   </span>
          </div>
     
          <div class="form-group" >
              <label for="itemType"  class="control-label">Select Item Type</label>
              <select [(ngModel)]="order.itemType" name="itemType" id="itemType" class="form-control" >
                  <option value="" disabled selected>select a category</option>
                  <option *ngFor="let item of availableItemType" [value]="item">{{item}}</option>
                </select>
          </div>
  
           
  
          <div class="form-group" [class.has-error]="weight.touched && weight.invalid">
            <label for="weight" class="control-label">Weight</label>
            <input id="weight" required type="text" class="form-control"
                   name="weight" [(ngModel)]="order.weight" #weight="ngModel">
                   <span class="help-block" *ngIf="weight.touched && weight.invalid">
                     Please enter weight
                   </span>
          </div>
  
          <div class="form-group" >
            <label for="itemQuality" class="control-label">Iteam Quality (Tanch)%</label>
            <select [(ngModel)]="order.itemQuality" name="itemQuality" id="itemQuality" class="form-control" >
              <option value="" disabled selected>select a category</option>
              <option *ngFor="let itemQuality of itemQualityList" [value]="itemQuality">{{itemQuality}}</option>
            </select>
          </div>

       -->

        <div class="form-group">
            <label for="dueDate" class="control-label">Due Date</label>
            <span class="glyphicon glyphicon-calendar"></span>
            <div class="form-control" >
                <app-date-picker [(ngModel)]="order.dueDate"  (click)="calculateTotalOrderAmount(order)"  name="dueDate"> </app-date-picker>
            </div>
        </div>

    
      <!--   <div class="form-group" [class.has-error]="marketRate.invalid && marketRate.touched">
                <label for="marketRate" class="control-label">Market Rate</label>
                <input  id="marketRate" required  type="text" class="form-control" 
                        name="marketRate" [(ngModel)]="order.marketRate"
                       #marketRate="ngModel" (blur)="calculateAmount(order)">
                       <span class="help-block" *ngIf="marketRate.invalid && marketRate.touched">
                            Please enter Market Rate 
                       </span>
         </div>


      <div class="form-group" [class.has-error]="orderAmount.invalid && orderAmount.touched">
          <label for="orderAmount" class="control-label"> Order Amount  
              &nbsp;<span *ngIf="calculationLogic" style="color:darkorange">
                <small><em>({{calculationLogic}})</em></small></span></label>
          <input  id="orderAmount" required  type="text" class="form-control" 
                  name="orderAmount" [(ngModel)]="order.orderAmount"
                 #orderAmount="ngModel">
                 <span class="help-block" *ngIf="orderAmount.invalid && orderAmount.touched">
                      Please enter Order Amount
                 </span>
        </div>

        <div class="form-group" [class.has-error]="makingCharge.invalid && makingCharge.touched">
          <label for="makingCharge" class="control-label">Making Charge</label>
          <input  id="makingCharge"  type="text" class="form-control" 
                  name="makingCharge" [(ngModel)]="order.makingCharge"
                 #makingCharge="ngModel">
                 
        </div>

        <div class="form-group" [class.has-error]="discount.invalid && discount.touched">
          <label for="discount" class="control-label">Discount </label>
          <input  id="discount"  type="text" class="form-control" 
                  name="discount" [(ngModel)]="order.discount"
                 #discount="ngModel">
                 
        </div> -->
        <div class="form-group" [class.has-error]="orderAmount.invalid && orderAmount.touched">
          <label for="orderAmount" class="control-label"> Total Order Amount  
              &nbsp;</label>
          <input  id="orderAmount" required  type="text" class="form-control" 
                  name="orderAmount" [(ngModel)]="order.totalOrderAmount"
                 #orderAmount="ngModel">
                 <span class="help-block" *ngIf="orderAmount.invalid && orderAmount.touched">
                      Please enter Order Amount
                 </span>
        </div>

        <div class="form-group" [class.has-error]="receivedAmount.invalid && receivedAmount.touched">
            <label for="receivedAmount" class="control-label">Recieved Amount</label>
            <input  id="receivedAmount" required  type="text" class="form-control" 
                    name="receivedAmount" [(ngModel)]="order.receivedAmount"
                   #receivedAmount="ngModel" (blur)=getPendingAmount(order)>
                   <span class="help-block" *ngIf="receivedAmount.invalid && receivedAmount.touched">
                        Please enter Order Amount
                   </span>
          </div>

          <div class="form-group" class="text-primary"  *ngIf="order?.receivedAmount">
              <label for="receivedAmount" class="control-label">Pending Amount : </label>
             {{order?.totalOrderAmount}} -  {{order?.receivedAmount}} =  
             <span  class="form-control" class="text-warning" *ngIf="pendingAmount">
               <strong>
                {{pendingAmount}} Rs

               </strong>  </span> 
                    
            </div>
          
        
        

        <div class="form-group">
          <label for="comments">Comments</label>
          <input id="comments" type="text" class="form-control"
                 name="comments" [(ngModel)]="order.comments">
        </div>

        <div class="form-group" >
                <label for="khataNumber" >Khata Number</label>
                <input  id="khataNumber"   type="text" class="form-control" 
                        name="khataNumber" [(ngModel)]="order.khataNumber">
                      
              </div>



    </div>
      <div class="panel-footer">
       <button class="btn btn-primary" [disabled]="submitClicked"  type="submit">Save</button>
    </div>
    <div class="panel-footer text-success" *ngIf="successMessage">
        {{successMessage}}
     </div>
     <div class="panel-footer text-danger" *ngIf="errorResponse">
        {{errorResponse}}
     </div>
     <div class="text-danger" *ngIf="validationError">
            {{validationError}}
         </div>
  </div>
</form> 




<div class="modal " tabindex="-1" id="confirmationModal"
  data-keyboard="false" data-backdrop="static" [ngStyle]="{'display':getDisplayObject()}" >
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
        
                <div class="modal-header">
          
                        <button type="button" (click)="dismissModal()" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Create Order Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-success" style="align-content: center"  *ngIf="success_response"> 
                            <h4>{{success_response}}</h4> </div>
                           
                        <div class="text-error" style="align-content: center"  *ngIf="errorResponseOnCreateOrder">
                             <h4>{{errorResponseOnCreateOrder}}</h4></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="dismissModal()" class="btn btn-info" >Create one more Order</button>
                        <button type="button" class="btn btn-primary"
                        (click)="dismissModalAndRedirect()"   data-dismiss="modal">Go to Order List</button>
                    </div>
      
  </div>
</div>
</div> 







