<form #employeeForm="ngForm"   (ngSubmit)="saveCustomer(customer)" >
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Customer</h3>
    </div>
    <div class="panel-body">

        <div class="form-group" [class.has-error]="fullName.invalid && fullName.touched">
            <label for="fullName" class="control-label">Customer Name</label>
            <input  id="fullName" required  type="text" class="form-control" 
                    name="fullName"  maxlength="20" [(ngModel)]="customer.fullName"
                    #fullName="ngModel">
                   <span class="help-block" *ngIf="fullName.invalid && fullName.touched">
                        Please enter customer name
                   </span>
          </div>

      

      

      <div class="form-group" [class.has-error]="fatherName.invalid && fatherName.touched">
        <label for="fatherName" class="control-label">Father's Name</label>
        <input  id="fatherName" required  type="text" class="form-control" 
               name="fatherName" [(ngModel)]="customer.fatherName"
               #fatherName="ngModel">
               <span class="help-block" *ngIf="fatherName.invalid && fatherName.touched">
                    Please enter Father's name
               </span>
      </div>

      <!-- <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input id="email" required type="text" class="form-control" name="email"
                [(ngModel)]="customer.email" #email="ngModel">
        <span class="help-block" *ngIf="email.invalid && email.touched">
          Email is required
        </span>
      </div> -->
      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" value="male" [(ngModel)]="customer.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="female" [(ngModel)]="customer.gender">
            Female
          </label>
        </div>
      </div>
      <div class="form-group">
          <label for="phone"  class="control-label"><span class="glyphicon glyphicon-phone" ></span> Phone</label>
          <input id="phone" required maxlength="10" numbers-only type="text"   class="form-control"
                 name="phone" [(ngModel)]="customer.phone" (keypress)="numberOnly($event)"  #phone="ngModel">
                 
                 
                
        </div>
       <div class="form-group" [class.has-error]="city.touched && city.invalid">
          <label for="city" class="control-label">City</label>
          <input id="city" required type="text" class="form-control"
                 name="city" [(ngModel)]="customer.city" #city="ngModel">
                 <span class="help-block" *ngIf="city.touched && city.invalid">
                   Please enter city name
                 </span>
        </div>

      <div class="form-group">
          <label for="address">Address</label>
          <input id="address" type="text" class="form-control"
                 name="address" [(ngModel)]="customer.address">
        </div>



    </div>
    <div class="panel-footer">
      <button class="btn btn-primary" [disabled]="submitClicked" type="submit">Save</button>
    </div>
   <!--  <div class="text-success" *ngIf="success_msg">
       <h3>{{success_msg}}</h3> 
      </div> -->
  
   <!--  <div *ngIf="success_response"  class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Congratulations!</strong> {{success_response}}
        Clik <a routerLink="/customerList" routerLinkActive="active" class="alert-link">here </a>to See All Customers
    </div> -->
    <div *ngIf="validationError"  class="alert alert-danger" >
     
         {{validationError}}
     
  </div>
 <!--  <div class="text-danger" *ngIf="errorResponse">
    {{errorResponse}}
  </div> -->
 
  
    
  </div>
</form> 


<div class="modal " tabindex="-1" id="confirmationModal"
  data-keyboard="false" data-backdrop="static" [ngStyle]="{'display':getDisplayObject()}" >
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
        
                <div class="modal-header">
          
                        <button type="button" (click)="dismissModal()" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Create Customer Status</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-success" style="align-content: center"  *ngIf="success_msg"> 
                            <h4>{{success_msg}}</h4> </div>
                           
                        <div class="text-error" style="align-content: center"  *ngIf="errorResponse">
                             <h4>{{errorResponse}}</h4></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="dismissModal()" class="btn btn-info" >Create one more Customer</button>
                        <button type="button" class="btn btn-primary"
                        (click)="dismissModalAndRedirect()"   data-dismiss="modal">Go to Customer List</button>
                    </div>
            
         
      
      
  </div>
</div>
</div> 