<div class="panel panel-primary">

  <div style="float: right;">
    <form #searchEmployeeForm="ngForm" (ngSubmit)="searchCustomer(searchString)">
      <table class="table-condensed">
        <tr>
          <td>
            <div style="color:aquamarine" *ngIf="filterInfo">Showing result with filter : {{searchString}} </div>
          </td>
          <td style="cursor: pointer;">
            <div style="color:rgb(222, 224, 236)" *ngIf="filterInfo" (click)=clearFilter()>
              <span id="searchclear" class="glyphicon glyphicon-remove-circle"> </span>Clear Filter </div>
          </td>

          <td>
            <div class="text-danger" class="bg-danger" *ngIf="emptySearchString"> {{emptySearchString}} </div>
          </td>
          <td class="mx-auto">
            <div>
              <input type="text" name="searchString" required placeholder="Search Customers" [(ngModel)]="searchString">
            </div>

          </td>

          <td>
            <button class="btn btn-info btn-sm" type="submit">Search</button>
          </td>

        </tr>
      </table>
    </form>
  </div>

  

  <div class="panel-heading">
    <h3 class="panel-title">Customer List : <strong style="color:aquamarine"> {{totalRecords}} records found</strong>
    </h3>

  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover table-condensed
       table-responsive ">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>City</th>
        <th>Details</th>
        <th>New Loan</th>
        <th>New Order</th>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customerList">
          <td style="word-break:break-all;"> {{customer.id}}</td>
          <td style="word-break:break-all;" class="text-primary">
            <a routerLink="//customerDetails/{{customer.id}}" routerLinkActive="active"> {{customer.fullName}}</a></td>
            <td style="word-break:break-all;"> {{customer.fatherName}}</td>
          <td style="word-break:break-all;"> {{customer.phone || "NA"}}</td>
          <td style="word-break:break-all;"> {{customer.address}}</td>
          <td style="word-break:break-all;"> {{customer.city}}</td>
          <td style="cursor: pointer; word-break:break-all;">
            <div class="text-primary" (click)=fetchLoanDetails(customer.id,customer.fullName)>
              <span class="glyphicon glyphicon-credit-card"></span> Details </div>
          </td>
          <td style="cursor: pointer; word-break:break-all;">
            <div class="text-primary" (click)=createCustomerLoan(customer.id,customer.fullName)>
              <span class="glyphicon glyphicon-plus"></span>New Loan </div>
          </td>
          <td style="cursor: pointer;">
            <div class="text-primary" (click)=createOrderForCustomer(customer.id,customer.fullName)>
              <span class="glyphicon glyphicon-plus"></span> Create Order </div>
          </td>
        </tr>
      </tbody>

    </table>
    <!-- pager -->
    <div>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="noSearchResultFound" class="text-info align-items-center">
    <h4>{{noSearchResultFound}} </h4>
  </div>
</div>