
 <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Customer Details</h3>
    </div>
   
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody > 
         <tr>
            <td>customer Id</td>
            <td class="text-primary"> {{customerDetail.id}}</td>
          </tr> 
          <tr>
              <td>Name</td>
              <td class="text-primary"> {{customerDetail.fullName}}</td>
            </tr>
            <tr>
                    <td>Father's Name</td>
                    <td class="text-primary"> {{customerDetail.fatherName}}</td>
            </tr>
          <tr>
              <td>Gender</td>
              <td class="text-primary"> {{customerDetail.gender }}</td>
          </tr>
           
          <tr>
              <td>Phone</td>
              <td class="text-primary"> {{customerDetail.phone }}</td>
          </tr>
          <tr>  
            <td>City</td>
            <td class="text-primary"> {{customerDetail.city}}</td>
        </tr>
        <tr>  
            <td>Address</td>
            <td class="text-primary"> {{customerDetail.address}}</td>
        </tr>
        <tr>  
            <td>Status</td>
            <td class="text-primary"> {{customerDetail.status }}</td>
        </tr>
        

        </tbody>
        </table>
    </div>


    </div>